run = "python main.py"
entrypoint = "main.py"
modules = ["python-base-3.13", "postgresql-16"]

[nix]
channel = "unstable"
packages = ["freetype", "glibcLocales", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "tcl", "tk", "xsimd", "zlib"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8501
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
